/* Styles */
@import "bootstrap/scss/bootstrap.scss";
@import "toastr/toastr.scss";

#app {
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
